<table align="left" width=100%>
    <tr>
        <td width="12%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b>Basic Python Programming <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/vidyadharbendre/learn_advanced_python_using_examples/blob/main/notebooks/Basics/basic_python_programming_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/vidyadharbendre/learn_advanced_python_using_examples/blob/main/notebooks/Basics/basic_python_programming_4.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
  <td>
    <a target="_blank" href="https://github.com/vidyadharbendre/learn_advanced_python_using_examples/blob/main/notebooks/Basics/basic_python_programming_4.ipynb">
      <img src="https://img.shields.io/badge/Open%20in-GitHub-100000?style=flat&logo=github&logoColor=white" alt="Open in GitHub"/>
    </a>
  </td>
</table>

## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [1]:
#1. Define the python function to swap first and last value of the given list
# Write your code here
#Use the list given below:

my_list = [15, 78, 10, 45, 89]


def swap_first_last(pass_list):
    print(pass_list)
    print(pass_list[-1])
    print(pass_list[0])
    temp = pass_list[0]
    pass_list[0] = pass_list[-1]
    pass_list[-1] = temp
    return pass_list

out_list = swap_first_last(my_list)
print(out_list)

[15, 78, 10, 45, 89]
89
15
[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
#2. Define the python function which adds two global numeric variables (1204 and 344536)
# Write your code here

x, y = 10, 10

def add_num():
    global x, y
    x, y = 1204, 344536
    return x+y

z = x+y
print(z)
sum = add_num()
print(sum)

20
345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
#3. Define the python function to check whether the number 33 is even or odd
# Write your code here

def even_odd(x):
    if x % 2 == 0:
        return ('even')
    else:
        return ('odd')

out = even_odd(33)    
print(out)

odd

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
#4. Define the python function to calculate the factorial of the number
# Write your code here

def factorial_1(num_1):
    sum_1 = 1
    for i in range(1, num_1+1):
        sum_1 = sum_1 * i
    return sum_1    
out = factorial_1(5)        
print(out)

120

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
#5. Define a function to add new items(1,2,3) in the empty list
# Write your code here

list_1 = []

def add_new_items():
    for i in range(1, 4):
        list_1.append(i)
    return list_1

out = add_new_items()
print(out)

[1, 2, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
#6. Write a python function to test whether the two words 
#start with the same character or not (take the inputs from the user)
# Write your code here
input_1 = input("Enter the first word")
input_2 = input("Enter the second word")

def TestFirstChar(x, y):
    if (x[0] == y[0]):
        return 'Yes - it starts with the same character'
    else:
        return 'No - it starts with the different character'

output_t_f = TestFirstChar(input_1, input_2)
print(output_t_f)

Enter the first wordVidya
Enter the second wordBendre
No - it starts with the different character

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
#7. Check if the string contains a vowel or not (take the inputs from the user)
# Write your code here

in_1 = input("Enter a string   :")

def vowel_check(x):
    vowels = 'aAeEiIoOuU'
    str_con_vowel = False
    for i in x:
        for j in vowels:
            if (i == j):
                str_con_vowel = True
    return str_con_vowel
        
output_1 = vowel_check(in_1)
if output_1:
    print("It contains the vowel")
else:
    print("It does not contain the vowel")

Enter a string   :Vidyadhar
It contains the vowel

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [10]:
#8. Write the python program to get the unique values from the given list
# Write your code here
#Use the list given below:
my_list = [1,2,3,3,11,34,3,3,4,5]

my_set = set(my_list)
print(my_set)
my_uniqe_list = list(my_set)
print(my_uniqe_list)

{1, 2, 3, 34, 4, 5, 11}
[1, 2, 3, 34, 4, 5, 11]

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [11]:
#9. Find the common characters from the given two strings
# Write your code here
#Use the strings given below:

string1 = 'Angel'
string2 = 'apple'

string1_set = set(string1)
print(string1_set)
string2_set = set(string2)
print(string2_set)

common_set = string1_set & string2_set
print(common_set)

print(" ".join(common_set))

{'e', 'l', 'A', 'g', 'n'}
{'a', 'e', 'l', 'p'}
{'e', 'l'}
e l

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [13]:
#10. Define a function to perform addition, multiplication, and subtraction of the given two numbers
# Write your code here
#Use the number given below:
a = 15
b = 4

def add_mul_sub(x, y):
    sum_1 = x + y
    mul = x * y
    sub = x - y
    
    print('x=', x, 'y=', y, 'x+y=', sum_1, 'x*y=', mul, 'x-y=', sub)
add_mul_sub(a, b)

x= 15 y= 4 x+y= 19 x*y= 60 x-y= 11

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [14]:
#11. Define a function to find the sum of all elements in the list
# Write your code here
#Use the list given below:
my_list = [34, 34, 55, 2, 56, 45]


def add_items_list(my_list):
    sum_list = 0
    for i in my_list:
        sum_list = sum_list +i
#        print(i, sum_list)
    return sum_list
    
out_sum = add_items_list(my_list)
print(out_sum)

226

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
#12. Find the minimum of the two numbers(34 and 78) using the lambda function
# Write your code here

x, y = 34, 78
x1, y2 = 78, 34


minimum_value = lambda x, y : x if x < y else y 
print(minimum_value(x, y))
print(minimum_value(x1, y2))

34
34

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [16]:
#13. Calculate the square of each element from the given tuple using the map function
# Write your code here
#Use the tuple given below:

number = (11, 21, 30, 34)

square_map_lambda = map(lambda x: x*x, number)

print(square_map_lambda)
print(type(square_map_lambda))
print(list(square_map_lambda))

<map object at 0x107cc0b80>
<class 'map'>
[121, 441, 900, 1156]

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [18]:
#14. Read the given sentence and print the length of each word in a sentence in a list using the map function
#** Use the sentence given below:**

sentence = 'Python for Data Science'
# Write your code here


length_of_word = map (lambda x : len(x) , sentence.split())
print(length_of_word)
print(type(length_of_word))
print(list(length_of_word))

<map object at 0x107cc0d90>
<class 'map'>
[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [19]:
#15. Find the remainder of all the numbers present in a list after dividing by 5
#Use the list given below:
numbers = [ 74, 85, 14, 23 ]
# Write your code here

remainders_of_5 = map (lambda x: x % 5 , numbers)
print(remainders_of_5)
print(type(remainders_of_5))
print(list(remainders_of_5))

<map object at 0x107cc0c70>
<class 'map'>
[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [21]:
#16. Concatenate elements from the list1 with the corresponding element of list2
# Write your code here
#** Use the list given below:**

list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99]

concat_list3 = map (lambda  x, y    : x + str(y) ,list1, list2)
print(concat_list3)
print(type(concat_list3))
print(list(concat_list3))

<map object at 0x107cf6130>
<class 'map'>
['I11', 'felt22', 'happy33', 'because44', 'I55', 'saw66', 'the77', 'others88', 'were99']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [22]:
#17. Find the common elements from the given array using filter method
#Use the array given below:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']
# Write your code here


def common_letter(x):
    y = ['p','o','i','n','t']
    if x in y:
        return True
    else:
        return False
common_element = filter (common_letter, arr1)
for i in set(common_element):
    print(i)

o
i
t

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [23]:
#18. Remove odd numbers from the given list
#Use the list given below:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
# Write your code here

even_number = filter (lambda x : x % 2 != 0, number)

print(even_number)
print(type(even_number))
print(list(even_number))

<filter object at 0x107c17550>
<class 'filter'>
[11, 21]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
#19. Calculate the sum of the numbers from 1 to 100
# Write your code here

import functools

my_numbers = []
for i in range(1, 101):
    my_numbers.append(i)

#print(my_numbers)    
    
sum_reduce = functools.reduce(lambda x, y : x + y, my_numbers)
print("The sum of the numbers from 1 to 100  ", sum_reduce)

The sum of the numbers from 1 to 100   5050

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [25]:
#20. Determine the maximum of a given list using reduce function
# Write your code here
#Use the list given below:

my_list = [47,11,42,102,13]

import functools

output_reduce = functools.reduce(lambda x, y : x if x > y else y, my_list)
print(output_reduce)

102