<table align="left" width=100%>
    <tr>
        <td width="12%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Basic Python Programming <br>(Day 2)
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/vidyadharbendre/learn_advanced_python_using_examples/blob/main/notebooks/Basics/basic_python_programming_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/vidyadharbendre/learn_advanced_python_using_examples/blob/main/notebooks/Basics/basic_python_programming_2.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>

  <td>
    <a target="_blank" href="https://github.com/vidyadharbendre/learn_advanced_python_using_examples/blob/main/notebooks/Basics/basic_python_programming_2.ipynb">
      <img src="https://img.shields.io/badge/Open%20in-GitHub-100000?style=flat&logo=github&logoColor=white" alt="Open in GitHub"/>
    </a>
  </td>
    
</table>

##  Table of Content

1. **[List](#list)**
2. **[Tuple](#tuple)**
3. **[Set](#set)**
4. **[Dictionary](#dict)**
5. **[Conditional Statements](#cond)**
6. **[Loops](#loop)**
    - 6.1 - [For Loop](#for)
    - 6.2 - [While Loop](#while)

### Let's begin with some hands-on practice exercises

<a id="list"> </a>
## 1. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of list1<br>
                        b. Check the membership of '24' in list1<br> 
                        c. Concatenate the list1 and list2<br>
                        d. Repeat the list2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

list1 = ['Learn', 24, 'Blue', False, -8]

list2 = [4, 7, 'Summer']

**a. Check the length of list1**

In [2]:
# type your code here

list1 = ['Learn', 24, 'Blue', 'False', -8]
list2 = [4, 7, 'Summer']
print(len(list1))

5

**b. Check the membership of '24' in list1**

In [3]:
# type your code here

if 24 in list1:
    print("24 exists in the list")

24 exists in the list

**c. Concatenate the list1 and list2**

In [1]:
# type your code here
list1 = ['Learn', 24, 'Blue', 'False', -8]
list2 = [4, 7, 'Summer']

list1_list2 = list1 + list2

print(list1_list2)

['Learn', 24, 'Blue', 'False', -8, 4, 7, 'Summer']

**d. Repeat the list2 three times**

In [3]:
# type your code here

list2_rep_3 = list2 * 3
print(list2_rep_3)

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

list1 = [1, 2, 3, 4]

list2 = [0, 5, 2, 1]

In [1]:
# type your code here

list1 = [1, 2, 3, 4]
list2 = [0, 5, 2, 1]

l1_mul_l2 = []

for i in range(len(list1)):
    for j in range(len(list2)):
        if i == j:
            l1_mul_l2.append(list1[i] * list2[j])
        
print(l1_mul_l2)

[0, 10, 6, 4]

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

list1 = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [2]:
# type your code here
list1 = ['Python', 1, 2, 3, 'Data', True]

print(list1[0])

Python

**b. Second last element**

In [3]:
# type your code here
list1 = ['Python', 1, 2, 3, 'Data', True]

print(list1[-2])

Data

**c. First three elements**

In [4]:
# type your code here
list1 = ['Python', 1, 2, 3, 'Data', True]

print(list1[0:3])

['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [5]:
# type your code here

list1 = ['Python', 1, 2, 3, 'Data', True]

for i in range(0,len(list1), 2):
    print(list1[i])

Python
2
Data

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

list1 = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [6]:
# type your code here

list1 = [4, 5, 7, -2, 0, 1]

print(min(list1))

-2

**b. Max(list)**

In [7]:
# type your code here

list1 = [4, 5, 7, -2, 0, 1]

print(max(list1))

7

**c. Sort the elements (use sort() and sorted() function)**

In [8]:
# type your code here

list1 = [4, 5, 7, -2, 0, 1]

sorted_list = sorted(list1)
list1.sort()
print(list1)
print(sorted_list)

[-2, 0, 1, 4, 5, 7]
[-2, 0, 1, 4, 5, 7]

**d. Create a copy of a list**

In [9]:
# type your code here
list1 = [4, 5, 7, -2, 0, 1]

new_list1 = list1.copy()

print(new_list1)

[4, 5, 7, -2, 0, 1]

**e. Remove element '5' from the list**

In [10]:
# type your code here
list1 = [4, 5, 7, -2, 0, 1]
print(list1)
list1.pop(5)
print(list1)

[4, 5, 7, -2, 0, 1]
[4, 5, 7, -2, 0]

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the below list

list1 = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [12]:
# type your code here

list1 = ['R', 'Python', 'C', 'Java']
list1.append('Data')

print(list1)

['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [13]:
# type your code here

list1 = ['R', 'Python', 'C', 'Java']
list1.append('Excel')
list1.append('Data')

print(list1)

['R', 'Python', 'C', 'Java', 'Excel', 'Data']

**c. Replace an element 'C' with 'C++' in the given list**

In [14]:
# type your code here

list1 = ['R', 'Python', 'C', 'Java', 'Excel', 'Data']
print(list1)

list1 = ['C++' if i == 'C' else i for i in list1 ] 

print(list1)

['R', 'Python', 'C', 'Java', 'Excel', 'Data']
['R', 'Python', 'C++', 'Java', 'Excel', 'Data']

<a id="tuple"> </a>
## 2. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of tuple1<br>
                        b. Concatenate the tuple1 and tuple2<br>
                        c. Repeat the tuple2 two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

tuple1 = (4, 4, 8)

tuple2 = 'John', 5, -2

**a. Check the length of tuple1**

In [15]:
# type your code here

tuple1 = (4, 4, 8)
print(type(tuple1))

<class 'tuple'>

**b. Concatenate the tuple1 and tuple2**

In [16]:
# type your code here

tuple1 = (4, 4, 8)
tuple2 = 'John', 5, -2

tup1_tup2 = tuple1 + tuple2

print(tup1_tup2)

(4, 4, 8, 'John', 5, -2)

**c. Repeat the tuple2 two times**

In [17]:
# type your code here
tuple2 = 'John', 5, -2

print(tuple2 * 2)

('John', 5, -2, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Tuple manipulations:<br><br>
                        a. Add new element '4' to the given tuple<br>
                        b. Replace an element
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

tuple1 = (['a', 1, True], 2, 'Science', -5)

**a. Add new element '4' to the given tuple**

In [61]:
# type your code here

tuple1 = (['a', 1, True], 2, 'Science', -5)

tuple1[0].append(4)

print(tuple1)

(['a', 1, True, 4], 2, 'Science', -5)

**b. Replace an element**

**Replace '2' with '3' in tuple1 = (['a', 1, True], 2, 'Science', -5)**

In [72]:
# type your code here

tuple1 = (['a', 1, True], 2, 'Science', -5)

a = list(tuple1)
print(type(a))

a[1] = 3

b = tuple(a)

tuple1 = b

print(tuple1)

<class 'list'>
(['a', 1, True], 3, 'Science', -5)

**Replace 'True' in first element of the tuple with 'False'**

In [79]:
# type your code here

tuple1 = (['a', 1, True], 2, 'Science', -5)

print(tuple1[0])
print(tuple1[0][2])

tuple1[0][2] = False

print(tuple1)

['a', 1, True]
True
(['a', 1, False], 2, 'Science', -5)

<a id="set"> </a>
## 3. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

set1 = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [18]:
# type your code here

set1 = {1, 2, 3, 4, 5, 6}

set1.add(7)

print(set1)

{1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [19]:
# type your code here
set1 = {1, 2, 3, 4, 5, 6}
print(set1)
set1.remove(3)
print(set1)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

**c. Clear the set**

In [20]:
# type your code here

set1 = {1, 2, 4, 5, 6}

set1.clear()
print(type(set1))

<class 'set'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [21]:
# type your code here

sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Python for data science'

set1 = set(sentence_1)
print(set1)
set2 = set(sentence_2)
print(set2)

print(len(set1))
print(len(set2))

common_set = set1.intersection(set2)
print(common_set)

print(set1)
print(set2)

{'l', 'e', 'y', 'g', 'p', 'h', ' ', 'n', 't', 'i', 'u', 'd', 'o', 's', 'W', 'a'}
{'f', 'c', 'y', 'e', 'r', 'a', 'h', ' ', 't', 'i', 'd', 'o', 's', 'n', 'P'}
16
15
{'e', 'y', ' ', 'h', 't', 'i', 'n', 'd', 'o', 's', 'a'}
{'l', 'e', 'y', 'g', 'p', 'h', ' ', 'n', 't', 'i', 'u', 'd', 'o', 's', 'W', 'a'}
{'f', 'c', 'y', 'e', 'r', 'a', 'h', ' ', 't', 'i', 'd', 'o', 's', 'n', 'P'}

**a. Find the number of unique words in the sentences**

In [22]:
# type your code here

print(len(set1))
print(len(set2))

16
15

**b. Find the common words in both the sentences**

In [23]:
# type your code here

common_set = set1.intersection(set2)
print(common_set)

{'e', 'y', ' ', 'h', 't', 'i', 'n', 'd', 'o', 's', 'a'}

**c. Find the unique words in both the sentences**

In [24]:
# type your code here

print(set1)
print(set2)

{'l', 'e', 'y', 'g', 'p', 'h', ' ', 'n', 't', 'i', 'u', 'd', 'o', 's', 'W', 'a'}
{'f', 'c', 'y', 'e', 'r', 'a', 'h', ' ', 't', 'i', 'd', 'o', 's', 'n', 'P'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [26]:
# type your code here

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

C = A.union(B)
print(C)

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}

**b. Intersection**

In [27]:
# type your code here

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

C = A.intersection(B)
print(C)

{3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [28]:
# type your code here

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

C = A - B
D = A.difference(B)

print(C)
print(D)

{1, 2, 4, 71, 40, 87}
{1, 2, 4, 71, 40, 87}

**d. Set of all the elements of set B that are not in set A**

In [29]:
# type your code here

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

C = B - A
D = B.difference(A)

print(C)
print(D)

{8, 42, 51, 54}
{8, 42, 51, 54}

**e. Symmetric difference**

In [30]:
# type your code here

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

S = A ^ B
print(S)

T = A.symmetric_difference(B)

print(T)

{1, 2, 4, 8, 40, 42, 71, 51, 54, 87}
{1, 2, 4, 8, 40, 42, 71, 51, 54, 87}

<a id="dict"> </a>
## 4. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to add a key to a dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given dictionary and add a key (4:16)**

dictionary1 = {1:1, 2:4, 3:9}

In [31]:
# type your code here

dictionary1 = {1:1, 2:4, 3:9}

dictionary1[4] = 16

print(dictionary1)

{1: 1, 2: 4, 3: 9, 4: 16}

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a program to retrieve the keys/values of dictionary </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

dictionary2 = {0:3, 'x':5, 1:2}

In [32]:
# type your code here

dictionary2 = {0:3, 'x':5, 1:2}

for keys, values in dictionary2.items():
    print(keys, values)

keys_list = []
values_list = []
    
for keys, values in dictionary2.items():
    keys_list.append(keys)
    values_list.append(values)

print(keys_list)
print(values_list)

0 3
x 5
1 2
[0, 'x', 1]
[3, 5, 2]

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to get the value for 'Age' from the dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

dictionary3 = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [128]:
# type your code here

dictionary3 = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}


for keys, values in dictionary3.items():
    if keys == 'Age':
        print(dictionary3[keys])

27

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a program to create a dictionary using given keys and values</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the keys and values to create a dictionary**

key = ['a','b','c','d']

value = [1, 2, 3, 4]

In [132]:
# type your code here

key = ['a','b','c','d']
value = [1, 2, 3, 4]

keys_values = dict(zip(key, value))

print(keys_values)
print(type(keys_values))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
<class 'dict'>

<a id="cond"> </a>
## 5. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [135]:
# type your code here

ent_num = int(input("Enter a number"))

if ent_num % 7 == 0:
    print("The entered number {} is multiple of 7".format(ent_num))
else:
    print("The entered number {} is NOT multiple of 7".format(ent_num))

Enter a number49
The entered number 49 is multiple of 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [33]:
# type your code here

num_1 = input("Enter a first number")
num_2 = input("Enter a second number")

if num_1 > num_2:
    print("The maximum of two numbers is :", num_1)
else:
    print("The maximum of two numbers is :", num_2)

Enter a first number3
Enter a second number5
The maximum of two numbers is : 5

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [141]:
# type your code here

num = int(input("Enter a number"))

if num == 0:
    print("The entered number is zero", num)
elif num < 0:
    print("The entered number is negative", num)
else:
    print("The entered number is positive")

Enter a number0
The entered number is zero 0

<a id="loop"> </a>
## 6. Loops

<a id="for"> </a>
### 6.1 For Loop

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a code to print the letters in the string as upper case letters (use for loop)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
# type your code here

input_string = 'Vidyadhar Shashikanth Bendre'
upper_case = ''

for i in input_string:
    if i.islower():
        j = i.upper()
        upper_case = upper_case + j
    else:
        upper_case = upper_case + i

print(upper_case)

VIDYADHAR SHASHIKANTH BENDRE

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a program to print the first 5 elements in the list using break function</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below**

lis = ['Red','Blue', 'Black', 'Green', 'Violet', 'White', 'Yellow', 'Orange', 'Indigo']

In [35]:
# type your code here

lis = ['Red','Blue', 'Black', 'Green', 'Violet', 'White', 'Yellow', 'Orange', 'Indigo']

for i in range(len(lis)):
    if i>=0 and i<=4:
        print(lis[i])
    else:
        break

Red
Blue
Black
Green
Violet

<a id="while"> </a>
### 6.2 While Loop

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Write a program to print the numbers less than 100 that are divisible by 4 (use while loop) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [36]:
# type your code here

st_num = 1

while(st_num < 100):
    if(st_num % 4 == 0):
        print(st_num)
    st_num = st_num + 1

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

<table align="left">
    <tr>
        <td width="6%">
            <img src="../images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Use break statement in while loop to print the integers from 1 to 7 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [37]:
# type your code here

num = 1
while (num <= 100):
    print(num)
    num = num + 1
    if num == 8:
        break

1
2
3
4
5
6
7

In [39]:
mylist1 = [2,4,6,'Hello',8,10]
print(mylist1)
print(type(mylist1))
print(id(mylist1))

print('*********')
print(mylist1[0])
mylist1[0] = 22
print(mylist1)
print(id(mylist1))

[2, 4, 6, 'Hello', 8, 10]
<class 'list'>
4971057856
*********
2
[22, 4, 6, 'Hello', 8, 10]
4971057856

In [41]:
mylist1 = [2,4,6,'Hello',8,10]
print(mylist1)
print(type(mylist1))
print(id(mylist1))

print('*********')
print(mylist1[3])
mylist1[3] = 22
print(mylist1)
print(id(mylist1))

[2, 4, 6, 'Hello', 8, 10]
<class 'list'>
4971048128
*********
Hello
[2, 4, 6, 22, 8, 10]
4971048128

In [43]:
mylist1 = [2,4,6,'Hello',8,10]
print(mylist1)
print(type(mylist1))
print(id(mylist1))

print('*********')
print(mylist1[3][0])
print(type(mylist1[3]))
#mylist1[3][0] = 'J'
# print(mylist1)
# print(id(mylist1))

[2, 4, 6, 'Hello', 8, 10]
<class 'list'>
5003972544
*********
H
<class 'str'>

In [44]:
mylist1

[2, 4, 6, 'Hello', 8, 10]

In [45]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [46]:
mylist1.append(222333)

In [47]:
mylist1

[2, 4, 6, 'Hello', 8, 10, 222333]

In [51]:
blanklist = []
print(id(blanklist))

5004070080

In [52]:
type(blanklist)

list

In [53]:
blanklist.append(123456)

In [54]:
blanklist

[123456]

In [55]:
mylist1 = [1,2,3,"hello", 8, 10]
print(id(mylist1))
print(id(mylist1[0]))
print(id(mylist1[3]))
mylist1[0] = 4
mylist1[3] = "world"
print(id(mylist1))
print(id(mylist1[0]))
print(id(mylist1[3]))

5004088192
4380043568
4428877936
5004088192
4380043664
4971020080

## python philosophy:::

if a mutable object is passed as a parameter to a function, that function can change the object and 
that change reflects in the calling context, it is like pass by reference of C language. list.append

if a immutable object is passed as a parameter to a function, that function cannot change the object and 
generally a new object is returned. it is like pass by value of C language. str.replace

In [57]:
mt1 = (20,30,40,50, [222,333,444, 'Hello',555])

In [58]:
print(mt1)

(20, 30, 40, 50, [222, 333, 444, 'Hello', 555])

In [59]:
print(type(mt1))

<class 'tuple'>

In [60]:
mt1[0]

20

In [61]:
mt1[0] = 22

TypeError: 'tuple' object does not support item assignment

In [62]:
mt1

(20, 30, 40, 50, [222, 333, 444, 'Hello', 555])

In [63]:
mt1[4]

[222, 333, 444, 'Hello', 555]

In [64]:
mt1[4] = 2323

TypeError: 'tuple' object does not support item assignment

In [65]:
mt1[4][0]

222

In [66]:
print(type(mt1[4]))

<class 'list'>

In [67]:
a = mt1[4]
print(a)

[222, 333, 444, 'Hello', 555]

In [68]:
mt1[4][3]

'Hello'

In [69]:
mt1[4][3] = 'Jello'

In [70]:
mt1

(20, 30, 40, 50, [222, 333, 444, 'Jello', 555])

In [71]:
mt1[4][3][0]

'J'

In [72]:
mt1[4][3][0] = 'H'

TypeError: 'str' object does not support item assignment

In [73]:
mt1[0]

20

In [74]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [75]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [76]:
md1 = {'Bank': 'SBI', 'Branch': 'Bangalore', 91:'India'}

In [77]:
md1

{'Bank': 'SBI', 'Branch': 'Bangalore', 91: 'India'}

In [78]:
md1[0]

KeyError: 0

In [79]:
md1['Branch']

'Bangalore'

In [80]:
md1['Branch'] = 'Blr'

In [81]:
md1

{'Bank': 'SBI', 'Branch': 'Blr', 91: 'India'}

In [82]:
md1 = {'Bank': 'SBI', 'Branch': 'Bangalore', 91:'India', 'Branch': 'Blr'}
print(type(md1))
print(md1)

<class 'dict'>
{'Bank': 'SBI', 'Branch': 'Blr', 91: 'India'}

In [83]:
del md1['Branch']

In [84]:
md1

{'Bank': 'SBI', 91: 'India'}

In [85]:
md1.keys()

dict_keys(['Bank', 91])

In [86]:
listdic= {"name":"arun","balance":200,"ac.id1":'1234567890'}
print (type(listdic))
listdic['pin']= 560079
print (listdic)
listdic['balance']= listdic['balance']+15 
print (listdic)

<class 'dict'>
{'name': 'arun', 'balance': 200, 'ac.id1': '1234567890', 'pin': 560079}
{'name': 'arun', 'balance': 215, 'ac.id1': '1234567890', 'pin': 560079}

In [87]:
md1

{'Bank': 'SBI', 91: 'India'}

In [88]:
md1['account_number']  = [123,456,789]

In [89]:
md1

{'Bank': 'SBI', 91: 'India', 'account_number': [123, 456, 789]}

In [90]:
list(md1.values())

['SBI', 'India', [123, 456, 789]]

In [91]:
md1.keys()

dict_keys(['Bank', 91, 'account_number'])

In [92]:
mylist2 = list(md1.values())

In [93]:
mylist2

['SBI', 'India', [123, 456, 789]]

In [94]:
md1

{'Bank': 'SBI', 91: 'India', 'account_number': [123, 456, 789]}

In [101]:
hash(23)

23

In [102]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [96]:
hash('hello')

5029561527668635666

In [99]:
hash((22,33,44))

-927233662427308980

In [104]:
type(hash)

builtin_function_or_method

In [105]:
dir(hash)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [106]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']